
*{
    /*border: 1px solid red !important;*/
    font-family: Arial, Helvetica, sans-serif;
}


#top{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#logo{
    width: 92px;
    height: 33px;

}

#search-box{
    display: flex;
    align-items: center;
    margin: auto 100px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(189, 184, 184);;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


#searchbar{
    display: flex;
    border: 1px solid white;
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    min-width: 200px;
}

#right-searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#x{
    display: inline;
    justify-self: flex-end;
    color: rgb(153, 147, 147);
    padding: 0px 10px 0px 0px;
}

#finder{
    display: inline;
    width: 18px;
    height: 18px;
    padding: 0 10px 0 10px;
}

#right-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    padding: 0px 10px 0px 10px;
}

#avatar{
    width: 30px;
    height: auto;
    border-radius: 15px;
    margin-left: 10px;
}
nav{
    border-bottom: 1px solid rgb(153, 147, 147);
}
#search-options{
    display: flex;
    color: rgb(153, 147, 147);
    margin: 10px 0 0 220px;
    height: 30px;
}


a:visited{
    color: rgb(99, 95, 104);
    text-decoration: none;
}

.headerlink{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 20px 0px 0;
    padding-bottom: 10px;
    font-size: 12px;
    color: rgb(99, 95, 104);
    text-decoration: none;
}

.nav-icon{
    display: flex;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#maps-icon{
    width: 25px !important;
    margin-left: 10px !important;
}

#news{
    margin-right: 0px !important;
}

#all-icon{
    display: flex;
    width: 20px;
    height: 20px;
}

#all{
    color: rgb(35, 118, 229);
    border-bottom: 2px solid rgb(35, 118, 229);
}

#maps-icon{
    width: 20px;
    height: 20px;
}

#settings{
    margin: 0 0 0 50px;
}

#tools{
    margin: 0 0 0 20px;
}

main{
    margin: 0 0 0 220px;
    color: rgb(99, 95, 104);
}

#speed{
    color: rgb(99, 95, 104);
    font-size: 14px;
}

.downarrow{
    width: 20px;
    height: auto;
    margin: 0 0 0 0;

}

h1{
    display: inline;
    color: rgb(28, 27, 168);
    font-size: 20px;
    line-height: 0px;
    font-weight: 300;
}

.preview{
    font-size: 15px;
    margin: 0 0 40px 0;
    display: block;
}